<p id="notice"><%= notice %></p>

<p>
  <strong>Is admin:</strong>
  <%= @membership.is_admin %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @membership.paid %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
