<div class="container">
    <h1 class="teste">PEDRINHO</h1>
    <%= image_tag "logo.png" %>
    <h3>FOOTBALL GROUPS ADMINISTRATION</h3>
    <div class="login-box">
        <% if session[:user_id] != nil %>
            <p>Already logged in</p>
            <%= link_to 'Back', controller: 'groups'%>
            <%= link_to 'Log out', controller: 'sessions', action: 'destroy' %>
        <% else %>
            <p id=”alert”><%= alert %></p>
            <h1>Login</h1>
            <%= form_tag sessions_path do |form| %>
            <div class=”field”> 
                <%= label_tag :email %>
                <%= text_field_tag :email, "", class: 'input' %>
            </div>
            <div class=”field”>
                <%= label_tag :password %>
                <%= password_field_tag :password, "", class: 'input' %>
            </div>
            <div class=”actions”>
                <%= submit_tag 'Login', class: 'login-btn' %>
            </div>
            <% end %>
            <%= link_to 'Sign Up', controller: 'users', action: 'new' %>
        <% end %>
    </div>
</div>