<%= render 'shared/header'%>

<h1>My groups</h1>

<div class="btn">
    <i class="fa fa-plus"> </i><%= link_to 'New group', new_group_path, class: "link" %>
</div>

<div class="box-container">

  <% count = 0 %>

  <% Membership.all.each do |membership| %>
    <% if membership.user_id == session[:user_id] %>
      <% group = Group.find_by_id(membership.group_id) %>
      <% count += 1 %>

      <div class="box">
        <h1><%= group.name %></h1>
        <div class="info">
          <div class="info-line">
            <i class="fa fa-map-marker"></i> <%= group.place %>
          </div>
          <div class="info-line">
            <i class="fa fa-calendar"></i> <%= group.date_time %>
          </div>
          <div class="info-line">
            <i class="fa fa-dollar"></i> <%= group.cost %>
          </div>
        </div>
        <p><%= group.additional_detail %></p>
        <%= link_to 'Info and actions', group_path(group) %>
      </div>
    <% end %>
  <% end %>

  <% if count == 0%>
    <p> You do not belong to any group yet. Create your own! </p>
  <% end %>
</div>

<div class="btn">
    <i class="fa fa-reply"></i>
    <%= link_to 'Log out', class: "link", controller: 'sessions', action: 'destroy' %>
</div>