<%= render 'shared/header'%>

<h1><%= @group.name %></h1>
<div style="margin: 1rem">
  <div class="info">
    <div class="info-line">
      <i class="fa fa-map-marker"></i> <%= @group.place %>
    </div>
    <div class="info-line">
      <i class="fa fa-calendar"></i> <%= @group.date_time %>
    </div>
    <div class="info-line">
      <i class="fa fa-dollar"></i> <%= @group.cost %>
    </div>
  </div>
  <p><%= @group.additional_detail %></p>
</div>

<% admin = false %>
<% Membership.all.each do |membership| %>
  <% if membership.user_id == session[:user_id] and membership.is_admin%>
    <% admin = true %>
  <% end %>
<% end %>

<div class="players-list">


<div class="player">
  <div class="player-info">
    <div class="player-name">
      <h3>Nome</h3>
    </div>
    <div class="player-admin">
      <h3>Administrador</h3>
    </div>
    <div class="player-paid">
      <h3>Pago</h3>
    </div>
  </div>
  <div class="players-options">
    
  </div>
</div>

<% Membership.all.each do |membership| %>
  <% if membership.group_id == @group.id %>
    
    <div class="player">
      <div class="player-info">
        <div class="player-name">
          <%= User.find_by_id(membership.user_id).username %>
        </div>
        <div class="player-admin">
          <% if membership.is_admin %>
            ok
          <% end %>
        </div>
        <div class="player-paid">
          <% if membership.paid %>
            ok
          <% end %>
        </div>
      </div>
      <div class="players-options">
        <% if admin %>
          <%= link_to 'Edit', edit_membership_path(membership) %>
          <%= link_to 'Remove', membership, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
</div>

<br>

<% if admin %>
  <div class="btn">
    <i class="fa fa-plus"> </i>
    <%= link_to 'Add member', new_membership_path(:group_ref => @group.id), class: "link" %>
  </div>
  <br><br>
  <%= link_to 'Edit info', edit_group_path(@group) %> |
  <%= link_to 'Delete', group_path(@group),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  <br><br>
<% end %>

<%= link_to 'Back', groups_path %>