<h1>
    <%= @group.name %>
</h1>

<p>
    <strong>Place:</strong>
    <%= @group.place %>
</p>

<p>
    <strong>Dates and times:</strong>
    <%= @group.date_time %>
</p>

<p>
    <strong>Cost:</strong>
    <%= @group.cost %>
</p>

<p>
    <strong>Additional detail:</strong>
    <%= @group.additional_detail %>
</p>

<p>
    <strong>Members:</strong>
</p>

<% admin = false %>
<% Membership.all.each do |membership| %>
  <% if membership.user_id == session[:user_id] and membership.is_admin%>
    <% admin = true %>
  <% end %>
<% end %>

<table>
  <tr>
    <th>Username</th>
    <th>Admin</th>
    <th>Paid</th>
  </tr>
 
  <% Membership.all.each do |membership| %>
    <% if membership.group_id == @group.id %>
      <tr>
        <td><%= User.find_by_id(membership.user_id).username%></td>
        <td><%= membership.is_admin%></td>
        <td><%= membership.paid%></td>
        <% if admin %>
          <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
          <td><%= link_to 'Remove', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<br>

<% if admin %>
  <td><%= link_to 'Add member', new_membership_path(:group_ref => @group.id) %></td>
  <br><br>
  <%= link_to 'Edit info', edit_group_path(@group) %> |
  <%= link_to 'Delete', group_path(@group),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  <br><br>
<% end %>

<%= link_to 'Back', groups_path %>